In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = 'data/healthcare-dataset-stroke-data.csv'

dataframe = pd.read_csv(path)
dataframe.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
bins = [0, 2, 18, 40, 60, 82]
labels = ['newborn', 'child', 'young adult', 'middle age', 'senior']

dataframe['age_group'] = pd.cut(dataframe['age'],bins = bins,labels = labels,right=True)

In [6]:
bmi_mean_by_age = dataframe.groupby('age_group')['bmi'].mean().to_dict()

/var/folders/28/pmh07v693dn2c3l0jdz5zvlw0000gn/T/ipykernel_15618/474049611.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bmi_mean_by_age = dataframe.groupby('age_group')['bmi'].mean().to_dict()

In [8]:
for key,val in bmi_mean_by_age.items():
    mask = (dataframe['age_group'] == key) & (dataframe['bmi'].isna())
    dataframe.loc[mask,'bmi'] = val
    
dataframe['bmi'] = dataframe['bmi'].round(2)

#discretization and smoothing for bmi
# Define bin edges from 10 to 100 with a step of 10
bin_edges_bmi = np.arange(10, 100 + 5, 5)  # [10, 20, 30, ..., 100]

# Create BMI bins
dataframe['bmi_bin'] = pd.cut(dataframe['bmi'], bins=bin_edges_bmi, include_lowest=True)

# Replace BMI values with bin means
dataframe['bmi'] = dataframe.groupby('bmi_bin')['bmi'].transform('mean')

/var/folders/28/pmh07v693dn2c3l0jdz5zvlw0000gn/T/ipykernel_15618/959797956.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataframe['bmi'] = dataframe.groupby('bmi_bin')['bmi'].transform('mean')

In [11]:
dataframe = dataframe.drop(['age_group','bmi_bin','id'],axis=1)
dataframe

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,37.245200,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,27.747544,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.295168,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,32.295168,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,22.759631,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,27.747544,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,37.245200,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,32.295168,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,27.747544,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,27.747544,Unknown,0